@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.wrapper.navbar {
    display: grid;
    gap: $medium;
    position: absolute;
    top: 100%;
    width: 120px;
    left: -120px;
    padding: $large;
    border-right: $border-dark;
    border-bottom: $border-dark;

    @media (min-width: $tablet) {
        position: relative;
        top: 0;
        left: 0;
        border: none;
        grid-template-columns: $gallery;
        width: 100%;
        max-width: $desktop;
        align-items: center;
        justify-items: center;
        padding: 0;
    }
}

.wrapper.navbar.opened {
    animation: slide-in 0.5s forwards;
}

.wrapper.navbar.closed {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.burgerIcon {
    position: absolute;
    margin: $medium;
    width: 30px;
    height: 25px;
    background-color: $light;
    border-radius: 0%;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    top: 20px;
    left: 10px;

    @media (min-width: $tablet) {
        display: none;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: $dark;
        transition: transform 0.4s ease, opacity 0.4s ease;
        transform-origin: left center;
    }

    &.active {
        .line:nth-child(1) {
            transform: translateY(1px) rotate(45deg);
        }

        .line:nth-child(2) {
            opacity: 0;
        }

        .line:nth-child(3) {
            transform: translateY(-1px) rotate(-45deg);
        }
    }
}
