@use './mixins.scss' as *;
@use './variables.scss' as *;

// Layout
@use './layout/header.scss';
@use './layout/footer.scss';
@use './layout/navbar.scss';

// Pages
@use './pages/home.scss';

// Components
@use './components/button.scss';
@use './components/spinner.scss';
@use './components/forms.scss';
@use './components/labelAndInput.scss';

// Utils
@use './utils/gallery.scss';
@use './utils/images.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
        Times New Roman, serif;
}

body {
    background-color: $light;
    color: $dark;
    text-align: center;
    line-height: 1.2;
    user-select: none;
    cursor: default;
    overflow-y: auto;
    overflow-x: auto;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: $dark;
    width: max-content;
    padding: $small;

    &:hover {
        color: $primary;
        opacity: 0.8;
        transform: translateY(0.1rem);
    }
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

input::-webkit-inner-spin-button {
    display: none;
}

.wrapper.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(var(--vh, 1vh) * 100);
    min-height: 100vh;
    min-height: 100dvh;
}

.wrapper.content {
    display: grid;
    margin-inline: auto;
    padding-block: $xlarge;
    max-width: calc(100% - $xlarge);
}
